div.card {
  background-color: white;
  text-align: center;

  padding: 2.5rem 2rem;
  margin-bottom: 2rem;

  box-shadow: -7px 7px 7px -1px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 425px) {
  div.card {
    padding: 1.5rem 1rem;
  }
}

@media screen and (max-width: 320px) {
  div.card {
    padding: 1rem;
  }
}
