div.repository-list {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  div.repository-list {
    ul {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
}
